# Server port
PORT=3001

# Telegram Bot sozlamalari
# @BotFather dan olingan token
TELEGRAM_BOT_TOKEN=your_bot_token_here

# Shartnomalar yuboriladigan chat ID
# Guruh chat ID: -100xxxxxxxxxx
# Shaxsiy chat ID: xxxxxxxxxx
TELEGRAM_CHAT_ID=your_chat_id_here
